<template>
  <div class="container">
    <h2>Shopping Bag</h2>
    <table class="table table-striped" v-if="products.length">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Format</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(p, index) in products" :key="p.id" class="productTr">
          <img :src="p.thumbnail" style="width: 100px; height: 130px" />
          <td>
            {{ p.name }}
            <br />
            <span class="pAuthor">{{ p.author }}</span>
          </td>
          <td>{{ p.format }}</td>
          <td style="width: 100px">
            <el-input-number
              v-model="p.quantity"
              @change="handleChange(p.id, index)"
              :min="0"
              :max="10"
            ></el-input-number>
          </td>
          <td>$ {{ p.price }}</td>
        </tr>
      </tbody>
    </table>

    <div class="totalPrice" v-if="products.length">
      <div class="row">
        <div class="col-md-10">Subtotal</div>
        <div class="col-md-2">$ {{ parseFloat(subTotal).toFixed(2) }}</div>
        <div class="col-md-10">Shipping</div>
        <div class="col-md-2">$ {{ shippingTotal }}</div>
        <hr />
        <div class="col-md-10">Total (tax included)</div>
        <div class="col-md-2">$ {{ parseFloat(subTotal + shippingTotal).toFixed(2) }}</div>
        <hr />
        <div class="col-md-10 checkout">Checkout</div>
        <div class="col-md-2 checkout">$ {{parseFloat(subTotal + shippingTotal).toFixed(2)}}</div>
      </div>
    </div>

    <div v-else>No products</div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "ShoppingBag",
  data() {
    return {
      products: [
        {
          id: 28397290283,
          name: "Thinking, Fast and Slow",
          author: "Daniel Kahneman",
          thumbnail:
            "https://images-na.ssl-images-amazon.com/images/I/61fdrEuPJwL.jpg",
          format: "Digital",
          price: 9.99,
          shipping: 0,
          quantity: 1,
        },
        {
          id: 38293817381,
          name: "Homo Deus: A Brief History of Tomorrow",
          author: "Yuval Noah Harari",
          thumbnail:
            "https://images-na.ssl-images-amazon.com/images/I/41MJoxwmKfL._SX327_BO1,204,203,200_.jpg",
          format: "Paperback",
          price: 13.5,
          shipping: 2.99,
          quantity: 1,
        },
      ],
    };
  },
  computed: {
    subTotal() {
      let subTotal = 0;
      this.products.forEach((item) => {
        subTotal += item.price * item.quantity;
      });
      return subTotal;
    },
    shippingTotal() {
      let totalShipping = 0;
      this.products.forEach((item) => {
        totalShipping += item.shipping;
      });
      return totalShipping;
    },
  },
  methods: {
    handleChange(id, index) {
      let xx = this.products.filter((item) => item.id === id);
      console.log(xx);
      if (xx[0].quantity < 1) {
        this.products.splice(index, 1);
      }
    },
  },

  // Api cors hatasına düşüyor içeriye aldım ürünleri
  
  // async created() {
  //   this.products = await axios
  //     .get(
  //       "https://firebasestorage.googleapis.com/v0/b/efectura-a06ee.appspot.com/o/products.json?alt=media"
  //     )
  //     .then((products) => {
  //       console.log(products);
  //     });
  // },
};
</script>

<style scoped>
.table {
  margin-top: 40px;
}
.container {
  padding: 50px;
  font-size: 15px;
}
.productTr {
  padding: 10px;
}
.pAuthor {
  color: gray;
  font-weight: bold;
  font-size: 13px;
}
.totalPrice {
  text-align: right;
}
.checkout {
  font-size: 17px;
  font-weight: bold;
}
</style>
